<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <div class="home-container">

        <h1 class="home-h1">
            Load to main page
        </h1>
        <p class="home-p">Welcome to my mini project. the aim of this website is for you as  <br>
                        the user to register or login to see the main page </p>


                        <div class="buttons-container-homePage">
                            <a href="./register">
                                <button class="register-button">Register</button>
                            </a>
                    
                            <a href="./login">
                                <button class="login-button">Login</button>
                            </a>
                        </div>
    </div>
    
    <script src="../server.js"></script>
    <script src="./animations.js"></script>
</body>
</html>